.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    height: 100dvh;
    position: relative;
    padding-top: 0px;
    overflow: hidden;

}
aside{
    height: calc(100vh);
    max-width: 275px;
    width: 100%;
    box-shadow: rgba(38, 54, 77, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 30px 20px;
    border-right: 1px solid var(--border);
    background-color: var(--navy);

}
nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.logo-img{
    max-width: 235px;
}

.active{
    color: var(--gold-light)!important;
    font-weight: bold;

}

nav ul{
    list-style: none;
}
nav ul li{
    color: var(--gold-dark);
    cursor: pointer;
}
main{
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    overflow-y: auto;
    box-shadow: rgba(38, 54, 77, 0.25) 0px 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.hamburger-container{
   display: none;
}

.hamburger{
    max-width: 45px;
}

.overlay{
    display: none;
}

@media only screen and (max-width: 800px) {

    .overlay{
        display: block;
        position: absolute;
        height: calc(100dvh - 45px);
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 9;
        left: 0;
        top: 45px
    }

    .container{
        padding-top: 45px;
    }
    aside{
        display: flex;
        height: calc(100vh - 45px);
        position: absolute;
        top: 45px;
        left: -300px;
        transition: left 0.5s ease;
        z-index: 10;
        max-width: 275px;
        width: 100%;
        box-shadow: rgba(38, 54, 77, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        padding: 30px 20px;
        border-right: 1px solid var(--border);
        background-color: var(--bg-primary);
    }

    .open{
        left: 0px;
    }

    .logo-img{
        max-width: 200px;
    }
    .hamburger-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99999;
        background-color: var(--bg-primary);
        max-height: 45px;
        box-shadow: rgba(38, 54, 77, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border-bottom: 1px solid var(--border);
    }
}
