<div class="stat-container">

            <div class="card">
                <div class="card-header">
                    <p>Total income</p>
                    <div class="card-img income">
                        <img src="general/dashboard/trending-up.svg" alt="trending-up">
                    </div>
                </div>
                <h4>{{data().totalIncome}}€</h4>
            </div>
            <div class="card">
                <div class="card-header">
                    <p>Total Expenses</p>
                    <div class="card-img expenses">
                        <img src="general/dashboard/trending-down.svg" alt="trending-down">
                    </div>
                </div>
                <h4>{{data().totalExpenses}}€</h4>
            </div>
            <div class="card">            
                <div class="card-header">
                    <p>Total Balance</p>
                    <div class="card-img balance">
                        <img src="general/dashboard/wallet.svg" alt="wallet">
                    </div>
                </div>
                <h4>{{data().totalBalance}}€</h4>            
            </div>
</div>